@font-face {
  font-family: "Cereal-Book";
  src: url("./fonts/Cereal-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Cereal-Medium";
  src: url("./fonts/Cereal-Medium.ttf") format("truetype");
}

html * {
  /* font-family: Montserrat-Medium !important; */
  font-family: Cereal-Book !important;
}
